<div class="error-banner" *ngIf="errors.general">
  <span>{{ errors.general }}</span>
</div>

<div *ngIf="token === '' || emailSent === true">
  <div class="message" *ngIf="emailSent === false">
    <p>To reset your password, enter your email address below</p>

    <form novalidate (ngSubmit)="onForgottenSubmit(forgottenPasswordForm)" [formGroup]="forgottenPasswordForm">
      <label>Email</label>
      <input [ngClass]="{ 'has-error': errors.email }" type="email" formControlName="email" required />
      <div class="form-error" *ngIf="errors.email">
        <span>{{ errors.email }}</span>
      </div>

      <button type="submit" [disabled]="forgottenPasswordForm.invalid">Send Link</button>
    </form>
  </div>

  <div class="message" *ngIf="emailSent === true">
    <p>Password reset email has been sent.</p>
    <p>Please check your inbox and click the link to continue</p>

    <!--Temporary until emails are implemented-->
    <button (click)="onContinueClick(token)">Continue</button>
  </div>
</div>

<div *ngIf="token !== '' && emailSent === false">
  <div class="message" *ngIf="passwordReset === false">
    <p>Enter your new password below</p>

    <form novalidate (ngSubmit)="onResetSubmit(passwordResetForm)" [formGroup]="passwordResetForm">
      <label>Password</label>
      <input [ngClass]="{ 'has-error': errors.password }" type="password" formControlName="password" validateEqual="passwordConfirm" reverse="true" />
      <div class="form-error" *ngIf="errors.password">
        <span>{{ errors.password }}</span>
      </div>

      <label>Confirm Password</label>
      <input [ngClass]="{ 'has-error': errors.passwordConfirm }" type="password" formControlName="passwordConfirm" validateEqual="password" />
      <div class="form-error" *ngIf="errors.passwordConfirm">
        <span>{{ errors.passwordConfirm }}</span>
      </div>

      <button type="submit" [disabled]="passwordResetForm.invalid">Reset Password</button>
    </form>
  </div>

  <div class="message" *ngIf="passwordReset === true">
    <div class="message-banner">
      <span>Password reset was successful. Please log in to continue.</span>
    </div>

    <app-login></app-login>
  </div>
</div>
