<form novalidate (ngSubmit)="onSubmit(accountForm)" [formGroup]="accountForm">
  <div *ngIf="formErrors.general" class="error-banner">
    <span>{{ formErrors.general }}</span>
  </div>

  <div>
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      <div *ngIf="formErrors.email" class="form-error">
        <span>{{ formErrors.email }}</span>
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" validateEqual="passwordConfirm" reverse="true" />
      <div *ngIf="formErrors.password" class="form-error">
        <span>{{ formErrors.password }}</span>
      </div>
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="passwordConfirm" validateEqual="password" />
      <div *ngIf="formErrors.passwordConfirm" class="form-error">
        <span>{{ formErrors.passwordConfirm }}</span>
      </div>
    </div>
  </div>

  <button class="form-button" type="submit" [disabled]="accountForm.invalid">Register</button>
</form>
