<div class="event-list">
  <app-show-event [ngClass]="{ 'collapsed' : collapsed }"
                  [collapsable]="collapsable"
                  (onToggle)="onEventToggle($event)" ></app-show-event>
  <app-show-event [ngClass]="{ 'collapsed' : collapsed }"
                  [collapsable]="collapsable"
                  (onToggle)="onEventToggle($event)" ></app-show-event>
  <app-show-event [ngClass]="{ 'collapsed' : collapsed }"
                  [collapsable]="collapsable"
                  (onToggle)="onEventToggle($event)" ></app-show-event>
</div>
