.event-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

app-show-event {
  padding: 10px;
  width: 100%;
}

.collapsed {
  @media(min-width: 800px) {
    width: 50%;
  }
}
