<div class="error-banner" *ngIf="errors.general">
  <span>{{ errors.general }}</span>
</div>

<div class="message" *ngIf="emailSent === false">
  <p>This account has not been confirmed.</p>
  <p>A confirmation link has been sent to your email address.</p>

  <button (click)="onResendClick(userId)">Resend Link</button>
</div>

<div class="message" *ngIf="emailSent === true">
  <p>Confirmation email has been sent.</p>
  <p>Please check your inbox and click the link to continue</p>

  <!--Temporary until emails are implemented-->
  <button (click)="onContinueClick(token)">Continue</button>
</div>
