<div class="container nav-less">
  <div *ngIf="emailSent === false">
    <h1>Forgotten Password</h1>
    <p class="helper-text">It happens to the best of us! Give us your email address below and we will send you an email with a link to change your password.</p>

    <form novalidate (ngSubmit)="onSubmit(forgottenPasswordForm)" [formGroup]="forgottenPasswordForm">
      <div>
        <label>Email</label>
        <input type="email" formControlName="email" required />
        <span class="error" *ngIf="forgottenPasswordForm.get('email').touched && forgottenPasswordForm.get('email').hasError('required')">We'll need your email address to help</span>
      </div>

      <button class="form-button" type="submit" [disabled]="forgottenPasswordForm.invalid">Send Email</button>
    </form>
  </div>

  <div *ngIf="emailSent === true">
    <h1>Email Sent</h1>
    <p>Now head on over to your inbox so we can get your new password sorted.</p>
    <button routerLink="/login">Log In</button>
  </div>
</div>
