<div class="container nav-less">
  <form novalidate (ngSubmit)="onSubmit(profileForm)" [formGroup]="profileForm">
    <h1>Create Profile</h1>

    <div class="form-container">
      <div>
        <div>
          <label>Profile Picture</label>
          <input type="file" formControlName="picture" />
          <div *ngIf="formErrors.picture">
            <span class="error">{{ formErrors.picture }}</span>
          </div>
        </div>

        <div>
          <label>First Name</label>
          <input type="text" formControlName="firstName" />
          <div *ngIf="formErrors.firstName">
            <span class="error">{{ formErrors.firstName }}</span>
          </div>
        </div>

        <div>
          <label>Last Name</label>
          <input type="text" formControlName="lastName" />
          <div *ngIf="formErrors.lastName">
            <span class="error">{{ formErrors.lastName }}</span>
          </div>
        </div>

        <div>
          <label>Nickname</label>
          <input type="text" formControlName="nickname" />
        </div>

        <div>
          <label>Date of Birth</label>
          <input type="date" formControlName="DOB" />
          <div *ngIf="formErrors.DOB">
            <span class="error">{{ formErrors.DOB }}</span>
          </div>
        </div>
      </div>

      <div>
        <div>
          <label>Address</label>
          <input type="text" formControlName="location" />
          <div *ngIf="formErrors.location">
            <span class="error">{{ formErrors.location }}</span>
          </div>
        </div>

        <div>
          <label>Gender</label>
          <select formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <input *ngIf="profileForm.get('gender') === 'other'" type="text" formControlName="gender" />
          <div *ngIf="formErrors.gender">
            <span class="error">{{ formErrors.gender }}</span>
          </div>
        </div>

        <div>
          <label>Favourite Genres</label>
          <input type="text" formControlName="genres" />
          <div *ngIf="formErrors.genres">
            <span class="error">{{ formErrors.genres }}</span>
          </div>
        </div>

        <div>
          <label>Bio</label>
          <textarea type="text" formControlName="bio"></textarea>
        </div>
      </div>
    </div>

    <button class="form-button" type="submit" [disabled]="profileForm.invalid">Create Profile</button>
  </form>
</div>
