<div class="container">
  <form novalidate (ngSubmit)="onSubmit(accountForm)" [formGroup]="accountForm">
    <div *ngIf="formErrors.general">
      <span class="error">{{ formErrors.general }}</span>
    </div>

    <div>
      <label>Change Email</label>
      <input type="email" formControlName="email" />
      <div *ngIf="formErrors.email">
        <span class="error">{{ formErrors.email }}</span>
      </div>
    </div>

    <div>
      <label>Change Password</label>
      <input type="password" formControlName="newPassword" validateEqual="newPasswordConfirm" reverse="true" />
      <div *ngIf="formErrors.newPassword">
        <span class="error">{{ formErrors.newPassword }}</span>
      </div>
    </div>

    <div>
      <label>Confirm New Password</label>
      <input type="password" formControlName="newPasswordConfirm" validateEqual="newPassword" />
      <div *ngIf="formErrors.newPasswordConfirm">
        <span class="error">{{ formErrors.newPasswordConfirm }}</span>
      </div>
    </div>

    <p class="helper-text">
      We just need your current password to confirm it's you before changing these settings
    </p>

    <div>
      <label>Current Password</label>
      <input type="password" formControlName="currentPassword" />
      <div *ngIf="formErrors.currentPassword">
        <span class="error">{{ formErrors.currentPassword }}</span>
      </div>
    </div>

    <button class="form-button" type="submit" [disabled]="accountForm.invalid">Change Settings</button>
  </form>
</div>
