.no-feed {
  height: 100vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding-left: 0;
  padding-right: 0;

  & > div {
    width: 100%;
    border-top: 1px solid #c9c9c9;

    &:last-child {
      border-bottom: 1px solid #c9c9c9;
    }
  }
}

.panel {
  width: 100%;
  background: no-repeat center;
  background-size: cover;

  .panel-inner {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: row;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    .info-container {
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;

      h2 {
        width: 100%;
        line-height: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        line-height: 0.8rem;
      }
    }

    .date-container {
      height: 100%;
      width: 25%;
      margin-right: 10px;

      justify-content: space-between;
      align-items: center;

      .year {
        font-size: 2.4rem;
        line-height: 1.8rem;
        margin-bottom: 5px;
      }

      .date {
        font-size: 1.7rem;
        line-height: 1.3rem;
        margin-bottom: 5px;
      }

      .time {
        font-size: 1.3rem;
        line-height: 1rem;
      }
    }
  }
}

button {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.event {
  display: none;
}
