<div *ngIf="eventFeed.length < 1" class="no-feed">
  <h1>There are no events</h1>
  <p class="helper-text">Maybe everyone's waiting for you to start one!</p>
</div>

<div class="container">
  <div *ngFor="let event of eventFeed" routerLink="/event/{{ event.id }}">
    <div class="panel" [ngStyle]="{ 'background-image': 'url(' + event.image + ')' }">
      <div class="panel-inner">
        <div>
          <div class="date-container">
            <span class="year">2017</span>
            <span class="date">01 Mar</span>
            <span class="time">12:00am</span>
          </div>
          <div class="info-container">
            <h2>{{ event.name }}</h2>
            <p>{{ event.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
