<form novalidate (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
  <div class="error-banner" *ngIf="errors.general">
    <span>{{ errors.general }}</span>
  </div>

  <label>Email</label>
  <input [ngClass]="{ 'has-error': errors.email }" type="email" formControlName="email" required />
  <div class="form-error" *ngIf="errors.email">
    <span>{{ errors.email }}</span>
  </div>

  <label>Password</label>
  <input [ngClass]="{ 'has-error': errors.password }" type="password" formControlName="password" required />
  <div class="form-error" *ngIf="errors.password">
    <span>{{ errors.password }}</span>
  </div>
  <a class="password-link" href="#" routerLink="/forgotten-password">Forgot your password?</a>

  <button type="submit" [disabled]="loginForm.invalid">Log in</button>
</form>

<div class="login-divider">
  <span class="horizontal-divider"></span>
  <span>OR</span>
  <span class="horizontal-divider"></span>
</div>

<button type="button" routerLink="/create-account">Register</button>
