@import '../../../variables';

.container {
  align-items: stretch;
}

.profile-header {
  box-sizing: content-box;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid $light-grey;

  display: flex;
  align-items: flex-end;

  img {
    height: 100px;
    width: 100px;

    margin-right: 10px;
  }

  div {
    overflow: hidden;

    h1, h2 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.profile-nav, .profile-nav ul:hover {
  background: none;
}

.panel {
  .profile-nav {
    width: 100%;
    border-bottom: 1px solid $light-grey;

    display: flex;
  }

  .profile-body {
    width: 100%;
    height: calc(100% - 35px);

    & > div {
      width: 100%;
      height: 100%;
      padding: 0 10px;

      div:not(.divider) {
        padding: 10px 0;

        display: flex;
        flex-direction: column;
      }

      .no-events {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 40%;
          opacity: 0.2;
        }
      }
    }
  }

  @media(min-width: 600px) {
    flex-direction: row;

    .profile-nav {
      width: 25%;
      border-right: 1px solid #545454;
      border-bottom: none;

      flex-direction: column;

      button {
        width: 100%;
        border-bottom: 1px solid #545454;

        &:not(:last-child) {
          border-right: none;
        }
      }
    }

    .profile-body {
      height: 100%;
    }
  }
}
