<div class="container">
  <div class="profile-header">
    <img src="{{ profile.picture }}" />
    <div>
      <h1>{{ profile.firstName }} {{ profile.lastName }}</h1>
      <h2>"{{ profile.nickname }}"</h2>
    </div>
  </div>

  <div class="">
    <div class="nav profile-nav">
      <ul>
        <li>
          <a [ngClass]="{'active': activeSection === 'info'}" (click)="changeSection('info')">Personal Information</a>
        </li>
        <li>
          <a>Events</a>
          <ul>
            <li>
              <a [ngClass]="{'active': activeSection === 'events'}" (click)="changeSection('events')">Hosting</a>
            </li>
            <li>
              <a>Going</a>
            </li>
            <li>
              <a>Interested</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="profile-body" [ngSwitch]="activeSection">
      <app-show-details *ngSwitchCase="'info'" [profile]="profile"></app-show-details>
      <app-show-events *ngSwitchCase="'events'"></app-show-events>
    </div>
  </div>
</div>
