<div class="error-banner" *ngIf="errors.general">
  <span>{{ errors.general }}</span>
</div>

<form novalidate (ngSubmit)="onSubmit(profileForm)" [formGroup]="profileForm">
  <label>First Name</label>
  <input [ngClass]="{ 'has-error': errors.firstName }" type="text" formControlName="firstName" required />
  <div class="form-error" *ngIf="errors.firstName">
    <span>{{ errors.firstName }}</span>
  </div>

  <label>Last Name</label>
  <input [ngClass]="{ 'has-error': errors.lastName }" type="text" formControlName="lastName" required />
  <div class="form-error" *ngIf="errors.lastName">
    <span>{{ errors.lastName }}</span>
  </div>

  <label>Nickname</label>
  <input [ngClass]="{ 'has-error': errors.nickname }" type="text" formControlName="nickname" required />
  <div class="form-error" *ngIf="errors.nickname">
    <span>{{ errors.nickname }}</span>
  </div>

  <!--3 dropdowns or a calendar?-->
  <label>Date of Birth</label>
  <input [ngClass]="{ 'has-error': errors.dob }" type="text" formControlName="dob" required />
  <div class="form-error" *ngIf="errors.dob">
    <span>{{ errors.dob }}</span>
  </div>

  <!--Geolocation lookup-->
  <label>Address</label>
  <input [ngClass]="{ 'has-error': errors.address }" type="text" formControlName="address" required />
  <div class="form-error" *ngIf="errors.address">
    <span>{{ errors.address }}</span>
  </div>
</form>
