<div class="error-banner" *ngIf="errors.general">
  <span>{{ errors.general }}</span>
</div>

<div class="message" *ngIf="emailSent === false">
  <p>This account is inactive.</p>
  <p>Click below to send an activation link to your email address.</p>

  <button (click)="onSendClick(userId)">Send Link</button>
</div>

<div class="message" *ngIf="emailSent === true">
  <p>Activation email has been sent.</p>
  <p>Please check your inbox and click the link to continue</p>

  <!--Temporary until emails are implemented-->
  <button (click)="onContinueClick(token)">Continue</button>
</div>
