<header>
  <nav class="nav">
    <ul>
      <li>
        <a routerLink="/feed" routerLinkActive="active"><i class="material-icons">&#xE8E9;</i>Feed</a>
      </li>
      <li>
        <a routerLink="/event/create" routerLinkActive="active"><i class="material-icons">&#xE145;</i>Create Event</a>
      </li>
      <li>
        <a><i class="material-icons">&#xE8B8;</i>Account</a>
        <ul>
          <li>
            <a routerLink="/my-profile">My Account</a>
          </li>
          <li>
            <a routerLink="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
