* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $text-white;
}

html {
  font-size: $base-font-size;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  background-color: $mid-grey;
}

.horizontal-divider {
  height: 1px;
  width: 100%;

  background-color: $text-white;
}

.message-banner {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgba(0,0,0,0.6);
  border-left: 2px solid $red;
}
