form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label {
  margin: 0;
}

input {
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 5px;

  flex-shrink: 0;

  background-color: rgba(0,0,0,0.2);
  border: none;
  border-bottom: 2px solid $light-grey;
  outline: none;

  &:hover:not(:disabled) {
    background-color: rgba(0,0,0,0.6);
  }

  &:focus {
    background-color: rgba(0,0,0,0.6);
    border-color: $red;
    outline: none;
  }

  &:active {
    background-color: rgba(0,0,0,0.6);
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;
  }
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;

  background-color: rgba(0,0,0,0.4);
  border: 2px solid $red;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
    background-color: rgba(0,0,0,0.6);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.error-banner {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgba(0,0,0,0.6);
  border-left: 2px solid $error;
}

.form-error {
  width: 100%;
  margin: -5px 0 10px 5px;

  span {
    color: $error;
  }
}

.has-error, .has-error:hover:not(:disabled), .has-error:focus, .has-error:active {
  border-color: $error;
}
