<div>
  <h3>Personal Information:</h3>
  <span>Address: {{ profile.location }}</span>
  <span>Gender: {{ profile.gender }}</span>
  <span>Date of Birth: {{ profile.DOB }}</span>
</div>

<div>
  <h3>Biography:</h3>
  <p>{{ profile.bio }}</p>
</div>

<div>
  <h3>Favourite Genres:</h3>
  <p>{{ profile.genres }}</p>
</div>
