<div class="event" [ngClass]="{ 'collapsed' : collapsed }">
  <div class="event-header" (click)="onEventClick(collapsed)">
    <div class="event-image" [ngStyle]="{ 'background-image': 'url(../assets/Penguins.jpg)' }"></div>

    <div class="header-info">
      <h1>Event Title</h1>
      <span>Private - Hosted by User Userton</span>
      <span class="over-eighteen">18+</span>

      <div class="header-details">
        <span>Aug 12, 12:00AM - 2:30PM</span>
        <span>12 Street Lane, City</span>
      </div>
    </div>
  </div>

  <div class="event-body">
    <div class="event-details">
      <div>
        <span>Aug 12, 12:00AM - 2:30PM</span>
        <span>12 Street Lane, City</span>
      </div>

      <div>
        <ul>
          <li>Thrash Metal</li>
          <li>Melodic Death Metal</li>
          <li>Speed Metal</li>
        </ul>
      </div>
    </div>

    <div class="event-rsvp">
      <button>Going</button>
      <button>Interested</button>
      <button>Remove</button>
    </div>

    <div class="event-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar ut arcu eu tincidunt. Praesent massa felis, gravida non elementum vitae, fringilla eu nulla. Vivamus quis massa libero. Aenean maximus sapien at massa faucibus consequat. Duis sapien purus, pharetra eu malesuada id, aliquam eu eros. Vivamus vulputate luctus faucibus. Phasellus molestie ornare ante eleifend consectetur. Sed lacinia quam dui, in eleifend nulla imperdiet quis. Proin sit amet nisl vulputate, aliquam nulla at, varius metus. Integer vestibulum purus lectus, feugiat ultricies enim porttitor nec. Donec imperdiet nisi vitae tempus elementum. Fusce ac ex a diam viverra tincidunt blandit non turpis. Morbi ornare pretium diam, nec congue nisl volutpat id.</p>
    </div>

    <div class="event-comments">
      <div class="comment-input">
        <textarea></textarea>
        <button>Comment</button>
      </div>

      <div class="comment">
        <div class="comment-header">
          <img src="../assets/gasmaskforlogothicklines.jpg" />
          <span>George Paul</span>
          <span>20 minutes ago</span>
        </div>

        <div class="comment-body">
          <p>Ay, it's a fuckin comment</p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-header">
          <img src="../assets/gasmaskforlogothicklines.jpg" />
          <span>George Paul</span>
          <span>20 minutes ago</span>
        </div>

        <div class="comment-body">
          <p>Ay, it's a fuckin comment</p>
        </div>
      </div>
    </div>
  </div>
</div>
