@import '../../variables';

span:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.event {
  width: 100%;
  background-color: $dark-grey;
  box-shadow: 1px 1px 2px 0 $black;
}

.event-header {
  height: 250px;
  width: 100%;
  padding: 10px;

  position: relative;
}

.event-image {
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  margin: -10px;
  opacity: 0.6;

  background-position: top center;
  background-size: cover;
  box-shadow: 0 -60px 60px 0 $dark-grey inset;
}

.header-info {
  width: 100%;
  padding: 20px 20px 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;

  .over-eighteen {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 2em;
  }

  h1 {
    margin: 0 0 10px -5px;
    line-height: 0.5em;
  }
}

.header-details {
  display: none;
}

.event-body {
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-details {
  width: 100%;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 0;

  display: flex;
  flex-direction: column;

  div {
    padding: 10px 20px;

    &:last-child {
      border-top: 1px solid $light-grey;
    }
  }

  ul li {
    display: inline;

    &:not(:last-child)::after {
      content: ', '
    }
  }
}

.event-rsvp {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $light-grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media(min-width: 400px) {
    flex-direction: row;

    button {
      max-width: 200px;
      margin: 0;
    }

    button:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.event-description {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $light-grey;
}

.event-comments {
  width: 100%;
  max-width: 500px;
  padding: 20px 20px 0 20px;

  .comment-input {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    button {
      max-width: 200px;
      align-self: flex-end;
    }
  }

  .comment {
    padding: 20px 10px;
    border-top: 1px solid $light-grey;

    .comment-header {
      margin-bottom: 20px;

      span {
        font-size: 1.2rem;
      }

      span:not(:last-child) {
        font-size: 1.6rem;
        margin-bottom: 5px;
      }

      img {
        height: 50px;
        width: 50px;
        float: left;
        margin-right: 20px;
      }
    }
  }
}

.collapsed {
  height: 150px;
  max-width: 600px;

  .event-header {
    height: 100%;
  }

  .event-image {
    box-shadow: none;
    opacity: 0.1;
  }

  .header-info {
    height: 100%;
    margin-bottom: 20px;
    top: 0;
    bottom: auto;
  }

  .header-details {
    display: block;
  }

  .event-body {
    display: none;
  }
}

@media(min-width: 600px) {
  .event-header {
    height: 350px;
  }

  .event-details {
    padding: 20px 0;
    flex-direction: row;

    div {
      width: 50%;

      &:last-child {
        border-top: none;
        border-left: 1px solid $light-grey;
      }
    }
  }
}
