<form novalidate (ngSubmit)="onSubmit(sessionForm)" [formGroup]="sessionForm">
  <div>
    <div *ngIf="formErrors.general" class="error-banner">
      <span class="error">{{ formErrors.general }}</span>
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" required />
      <div *ngIf="formErrors.email">
        <span class="error">{{ formErrors.email }}</span>
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" required />
      <div *ngIf="formErrors.password">
        <span class="error">{{ formErrors.password }}</span>
      </div>
      <a href="#" style="float: right;" routerLink="/forgotten-password">Forgot your password?</a>
    </div>
  </div>

  <button class="form-button" type="submit" [disabled]="sessionForm.invalid">Sign In</button>
</form>

<div class="login-divider">
  <span class="divider horizontal"></span>
  <p>OR</p>
  <span class="divider horizontal"></span>
</div>

<button class="form-button" type="button" routerLink="/register">Sign Up</button>
