/* Navigation Styles */

.nav {
  height: 40px;
  width: 100%;
  background-color: $light-grey;

  & > ul {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & > li {
      height: 100%;
      width: 100%;

      i {
        margin-right: 5px;
        font-size: 1.8rem !important;
      }

      a {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      ul {
        display: none;
        width: inherit;
        position: relative;
        background-color: $light-grey;
        z-index: 2;

        li {
          display: block;
          height: 40px;
        }
      }

      &:hover, li:hover {
        background-color: #3d3d3d;

        & > a {
          border-top: 2px solid rgba(0, 0, 0, 0.0);
          border-bottom: 2px solid $red;
        }

        ul {
          display: block;
        }
      }
    }
  }
}

.active {
  border-top: 2px solid rgba(0, 0, 0, 0.0);
  border-bottom: 2px solid $red;
}


/* Container styles */

.container {
  min-height: calc(100vh);
  width: 100%;
  max-width: 1200px;
  padding: 40px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &.nav-less {
    padding-top: 10px;
  }

  &.vertical-center {
    justify-content: center;
  }
}


/* Sidebar Styles */

.sidebar {
  width: 350px;
  margin-right: 20px;
}


/* Panel Styles */

.panel {
  background-color: $dark-grey;
  padding: 10px;

  display: flex;
  flex-direction: column;
}
