form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

button, input, textarea, select {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgba(0,0,0,0.4);

  &:hover:not(:disabled) {
    background-color: rgba(0,0,0,0.6);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgba(0,0,0,0.6);
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;
  }
}

button {
  border: 2px solid $red;
  border-radius: 2px;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

input, textarea, select {
  border: none;
  border-bottom: 2px solid $light-grey;

  &:focus {
    background-color: rgba(0,0,0,0.6);
    border-color: $red;
  }
}
