@import 'variables';

.helper-text {
  margin: 10px 0;
}

.error-banner {
  padding: 10px;
  margin-bottom: 15px;

  background-color: rgba(0, 0, 0, 0.6);
  border-left: 2px solid $red;
  border-radius: 2px;
}

.form-error {
  margin: -5px 0 10px 5px;

  span {
    color: $error-red;
  }
}

.divider {
  background-color: #545454;

  &.horizontal {
    width: 100%;
    height: 1px;
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}
