h1, h2, h3, h4, h5, h6, label, button {
  margin: 10px 0;
  font-family: $primary-font;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 1px;
}

a, p, span, li, input, textarea, select {
  font-family: $secondary-font;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

label, button {
  font-size: 2rem;
}

a {
  cursor: pointer;
}
