/* Fonts */
$primary-font: 'Iceland', cursive;
$secondary-font: 'Voltaire', sans-serif;
$base-font-size: 10px;

/* Colours */
$black: #000;
$white: #FFF;
$red: #810000;
$dark-grey: #141516;
$mid-grey: #202122;
$light-grey: #353534;
$text-white: #e6e6e6;

$error-red: #e60000;
