@import 'variables';
@import 'text';
@import 'helpers';
@import 'form';
@import 'component';

html {
  font-size: $base-font-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-white;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: $mid-grey;
  color: $text-white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* List Styles */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Misc Styles */

.splash-image {
  width: 100%;
  max-width: 300px;
}
