:host {
  position: relative;
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  @media all and (max-width: 799px) {
    grid-template-columns: 1fr;

    & > div:first-child {
      display:none;
    }
  }

  & > div {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      max-width: 400px;
    }
  }
}

.splash-logo {
  width: 75%;

  opacity: 0.1;

  @media all and (max-width: 999px) {
    width: 100%;
  }
}

.splash-title {
  width: 75%;
  margin-bottom: 20px;
}
