<div>
  <img class="splash-logo" src="../../../assets/gasmasklogooutlinewhite.png" alt="Revolution" />
</div>

<div>
  <img class="splash-title" src="../../../assets/title.png" alt="Revolution" />
  <router-outlet></router-outlet>
</div>
