<div class="container">
  <form novalidate (ngSubmit)="onSubmit(eventForm)" [formGroup]="eventForm">
    <h1>Create Event</h1>

    <div class="form-container">
      <div>
        <div>
          <label>Display Image</label>
          <input type="text" formControlName="image" />
          <div *ngIf="formErrors.image">
            <span class="error">{{ formErrors.image }}</span>
          </div>
        </div>

        <div>
          <label>Event Name</label>
          <input type="text" formControlName="name" />
          <div *ngIf="formErrors.name">
            <span class="error">{{ formErrors.name }}</span>
          </div>
        </div>

        <div>
          <label>18+</label>
          <input type="checkbox" formControlName="overEighteen" />
          <div *ngIf="formErrors.overEighteen">
            <span class="error">{{ formErrors.overEighteen }}</span>
          </div>
        </div>

        <div>
          <label>Private</label>
          <input type="checkbox" formControlName="overEighteen" />
          <div *ngIf="formErrors.overEighteen">
            <span class="error">{{ formErrors.overEighteen }}</span>
          </div>
        </div>

        <div>
          <label>Location</label>
          <input type="text" formControlName="location" />
          <div *ngIf="formErrors.location">
            <span class="error">{{ formErrors.location }}</span>
          </div>
        </div>

        <div>
          <label>Start Date and Time</label>
          <input type="text" formControlName="startDatetime" />
          <div *ngIf="formErrors.startDatetime">
            <span class="error">{{ formErrors.startDatetime}}</span>
          </div>
        </div>

        <div>
          <label>Finish Date and Time</label>
          <input type="text" formControlName="finishDatetime" />
          <div *ngIf="formErrors.finishDatetime">
            <span class="error">{{ formErrors.finishDatetime}}</span>
          </div>
        </div>
      </div>

      <div>
        <div>
          <label>Genres</label>
          <input type="text" formControlName="genres" />
          <div *ngIf="formErrors.genres">
            <span class="error">{{ formErrors.genres }}</span>
          </div>
        </div>

        <div>
          <label>Description</label>
          <textarea formControlName="description"></textarea>
          <div *ngIf="formErrors.description">
            <span class="error">{{ formErrors.description}}</span>
          </div>
        </div>
      </div>
    </div>

    <button class="form-button" type="submit" [disabled]="eventForm.invalid">Create Event</button>
  </form>
</div>
