h1 {
  align-self: flex-start;
}

form {
  max-width: 400px;
  height: 100%;
  justify-content: space-between;
}

@media(min-width: 800px) {
  form {
    max-width: none;

    button {
      width: 25%;
      margin: 10px;
      align-self: flex-end;
    }
  }

  .form-container {
    display: flex;
    flex-direction: row;

    & > div {
      width: 100%;

      &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #545454;
      }
    }
  }

  .divider {
    display: block;
  }
}
