.container.create-event{
    height: 100%;
    display: flex;
    justify-content: center;
    
    @include breakpoint(medium){
        align-items: center;
    }
    
    .form-container{
        input:not([type=checkbox]), textarea{
            width: 100%;
        }
    }
}