/* Imports for global things */

@import "mixins.scss";
@import "variables.scss";
@import "components.scss";


/* Global Styles */

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: $background-color;
    margin: 3rem 0;
}

.container {
    width: 100%;
    max-width: 1900px;
    padding: 1rem;
}

    /* Text Styles */
    
p {
    letter-spacing: 2px;
    color: $white;
}

a {
    letter-spacing: 2px;
    color: $highlight-color;
}

/* Imports for individual stylesheets */

@import "layout.scss";