<div class="container nav-less">
  <div class="session-body">
    <div>
      <img src="../../../../assets/gasmasklogooutlinewhite.png" alt="Revolution" />
    </div>
    <div>
      <div class="title">
        <img src="../../../../assets/title.png" alt="Revolution" />
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
