.title {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 300px;
  }
}

.session-body {
  width: 100%;
  height: calc(100vh - 20px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & > div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      display: none;

      img {
        max-width: 75%;
        max-height: 75%;
        height: auto;
        width: auto;
        display: block;
        opacity: 0.1;
      }
    }

    &:not(:first-child) {
      max-width: 400px;
    }

    @media (min-width: 900px) {
      //max-width: none;
      width: 50%;

      &:first-child {
        display: flex;
      }
    }
  }
}
