<div class="error-banner" *ngIf="errors.general">
  <span>{{ errors.general }}</span>
</div>

<form novalidate (ngSubmit)="onSubmit(accountForm)"  [formGroup]="accountForm">
  <label>Email</label>
  <input [ngClass]="{ 'has-error': errors.email }" type="email" formControlName="email" required />
  <div class="form-error" *ngIf="errors.email">
    <span>{{ errors.email }}</span>
  </div>

  <label>Password</label>
  <input [ngClass]="{ 'has-error': errors.password }" type="password" formControlName="password" validateEqual="passwordConfirm" reverse="true" />
  <div class="form-error" *ngIf="errors.password">
    <span>{{ errors.password }}</span>
  </div>

  <label>Confirm Password</label>
  <input [ngClass]="{ 'has-error': errors.passwordConfirm }" type="password" formControlName="passwordConfirm" validateEqual="password" />
  <div class="form-error" *ngIf="errors.passwordConfirm">
    <span>{{ errors.passwordConfirm }}</span>
  </div>

  <button type="submit" [disabled]="accountForm.invalid">Continue</button>
</form>
