<div *ngIf="emailSent === false">
  <p class="helper-text">
    Your account has been deactivated.
  </p>

  <button (click)="onSendEmailClick()">Send Activation Email</button>
</div>

<div *ngIf="emailSent === true">
  <p class="helper-text">
    Activation email sent. Please check your inbox and click the link to reactivate your account.
  </p>

  <button (click)="onSendEmailClick()">Resend Email</button>
</div>
